// 変数をまとめておくファイル


// font-family
$font-base: "ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
sans-serif;
$font-english:"Arial",
sans-serif;
$font-deco:"Pacifico";

// color
$color-main-d:#FF8A1C;
$color-main-l:#FFBB79;
$color-blue:#5296B3;
$color-sub:#D57317;
