.work-place {
  .mv {
    @include mv;
    background-image: url(./../img/work-place/mv.jpg);
  }

  .main {
    &__wrapper {
      border: 20px solid $color-main-d;

      @include sm {
        border: 10px solid $color-main-d;

      }
    }

    &__container {
      @include container;
      padding-bottom: 400px;
    }

    &__content {
      &--place {
        margin: 160px;

        @include sm {
          margin: 90px auto 0 auto;
        }

        .place__flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @include tab {
            justify-content: center;
          }


        }

        .place__title--big {
          color: $color-main-d;
          font-weight: bold;
          font-size: 3.6rem;
        }

        .place__title {
          font-size: 1.8rem;
          margin-top: 100px;

          @include sm {
            margin-top: 60px;
          }
        }

        a {
          font-size: 1.4rem;
          color: $color-main-d;
          border: 1px solid $color-main-d;
          margin-left: 26px;
          padding: 5px;
          transition: .4;

          &:hover {
            color: #fff;
            background: $color-main-d;
          }
        }

        iframe {
          margin-top: 30px;
          width: 535px;
          height: 282px;

          @include sm {
            width: 85vw;
            height: 40vw;
          }
        }
      }
    }
  }
}
